<!DOCTYPE html>
<html>

<!-- ▼ Head ▼ ---------------------------------------------------------------------------->

<head>

    <!-- Setting -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">

    <!-- Vue -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <!-- CSS -->
    <link href="https://fum0000.github.io/MySite_1/common.css" rel="stylesheet" />
    <link href="https://fum0000.github.io/MySite_1/Japanese/common_word_japanese.css" rel="stylesheet" />

</head>
<!---------------------------------------------------------------------------------------->

<!-- ▼ Body ▼ ---------------------------------------------------------------------------->

<body>

    <!-- ▼ App ▼ ------------------------------------------------------------------------->
    <v-app id="app">
        <template>

            <!-- ▼ Header ▼ ------------------------------------------------------------------>
            <main-system-bar :drawer="drawer" @change-drawer="Change_Drawer">Kanji - Basic</main-system-bar>
            <!-------------------------------------------------------------------------------->

            <!-- ▼ Navigation ▼ -------------------------------------------------------------->
            <main-navigation :drawer="drawer" @change-drawer="Change_Drawer"></main-navigation>
            <!-------------------------------------------------------------------------------->

            <!-- ▼ Main ▼ -------------------------------------------------------------------->
            <v-main id="main" class="blue-grey lighten-4">
                <v-container fluid fill-height>
                    <v-row no-gutters><v-col cols="2" md="1" lg="1"></v-col><v-spacer></v-spacer><v-col cols="5" md="2" lg="2"><v-switch v-model="Switch" :label="`All Change`" inset hide-details="false"/></v-col></v-row>
                    <v-row justify="center" class="ma-0">
                        <v-col cols="12" md="3" lg="3" v-for="list in List" :key="list.id">
                            <card-double-kanji :all_show="Switch">
                                <template v-slot:first>{{ list.kanji }}
                                </template>
                                <template v-slot:second>{{ list.english }}<br>
                                    <font size="5">{{ list.reading }}</font>
                                </template>
                            </card-double-kanji>
                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
            <!-------------------------------------------------------------------------------->

            <!-- ▼ Footer ▼ ------------------------------------------------------------------>
            <main-footer></main-footer>
            <!-------------------------------------------------------------------------------->

        </template>
    </v-app>
    <!------------------------------------------------------------------------------------>

    <!-- ▼ Script Load ▼ ----------------------------------------------------------------->
    <!-- Main -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!-- Compornent -->
    <script src="https://fum0000.github.io/MySite_1/common.js"></script>
    <script src="https://fum0000.github.io/MySite_1/Component/main-system-bar.js"></script>
    <script src="https://fum0000.github.io/MySite_1/Component/main-navigation.js"></script>
    <script src="https://fum0000.github.io/MySite_1/Component/main-footer.js"></script>
    <script src="https://fum0000.github.io/MySite_1/Component/Card/card-double-kanji.js"></script>
    <!------------------------------------------------------------------------------------>

    <!-- Script Content ------------------------------------------------------------------>
    <script>

        // Variable ----------------------------------------------------------------------
        let vue = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                // Determined
                drawer: false,
                // Myself
                List: [],
                Switch: false,
            },
            methods: {
                Change_Drawer(_value) {
                    this.drawer = _value;
                }
            },
            created: function () {
                let kanji = [
                    "漢字",
                    "私",
                    "日本",
                    "人",
                    "時間",
                    "昨日",
                    "今日",
                    "明日",
                    "朝",
                    "昼",
                    "夜",
                    "食べ物",
                    "ご飯",
                    "食べる",
                    "見る",
                    "聞く",
                    "触る",
                    "話す",
                    "歩く",
                    "書く",
                    "飲む",
                    "走る",
                    "洗う",
                ];
                let reading = [
                    "kanji",
                    "watashi",
                    "nihon",
                    "hito",
                    "jikan",
                    "kinou",
                    "kyou",
                    "ashita",
                    "asa",
                    "hiru",
                    "yoru",
                    "tabemono",
                    "gohan",
                    "taberu",
                    "miru",
                    "kiku",
                    "sawaru",
                    "hanasu",
                    "aruku",
                    "kaku",
                    "nomu",
                    "hashiru",
                    "arau",
                ];
                let english = [
                    "Kanji",
                    "I",
                    "Japan",
                    "Person",
                    "Time",
                    "Yesterday",
                    "Today",
                    "Tomorrow",
                    "Morning",
                    "Afternoon",
                    "Night",
                    "Food",
                    "Dish",
                    "Eat",
                    "Watch",
                    "Hear, Listen",
                    "Touch",
                    "Talk",
                    "Walk",
                    "Write",
                    "Drink",
                    "Run",
                    "Wash",
                ];
                for (let i = 0; i < kanji.length; i++) {
                    let row = {};
                    row.id = i;
                    row.kanji = kanji[i];
                    row.reading = reading[i];
                    row.english = english[i];
                    this.List.push(row);
                }
            },
        })
        // -------------------------------------------------------------------------------

        // Javascript --------------------------------------------------------------------
        // -------------------------------------------------------------------------------

    </script>
    <!------------------------------------------------------------------------------------>
</body>
<!---------------------------------------------------------------------------------------->

</html>