<!DOCTYPE html>
<html>

<!-- ▼ Head ▼ ---------------------------------------------------------------------------->

<head>

    <!-- Setting -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">

    <!-- Vue -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <!-- CSS -->
    <link href="./Common/common.css" rel="stylesheet" />
    <link href="./Common/common_word_japanese.css" rel="stylesheet" />

</head>
<!---------------------------------------------------------------------------------------->

<!-- ▼ Body ▼ ---------------------------------------------------------------------------->

<body>

    <!-- ▼ App ▼ ------------------------------------------------------------------------->
    <v-app id="app">
        <template>

            <!-- ▼ Header ▼ ------------------------------------------------------------------>
            <main-system-bar :drawer="drawer" @change-drawer="Change_Drawer">Word - Japalish > Level_2</main-system-bar>
            <!-------------------------------------------------------------------------------->

            <!-- ▼ Navigation ▼ -------------------------------------------------------------->
            <main-navigation :drawer="drawer" @change-drawer="Change_Drawer"></main-navigation>
            <!-------------------------------------------------------------------------------->

            <!-- ▼ Main ▼ -------------------------------------------------------------------->
            <v-main id="main" class="blue-grey lighten-4">
                <v-container fluid fill-height>
                    <v-row no-gutters><v-col cols="2" md="1" lg="1"></v-col><v-spacer></v-spacer><v-col cols="5" md="2" lg="2"><v-switch v-model="Switch" :label="`Switch All`" inset hide-details="false"/></v-col></v-row>
                    <v-row justify="center" class="ma-0">
                        <v-col cols="12" md="3" lg="3" v-for="list in List" :key="list.id">
                            <card-double :all_show="Switch">
                                <template v-slot:first>{{ list.japanese }}<br>
                                    <font size="5">{{ list.reading }}</font>
                                </template>
                                <template v-slot:second>{{ list.spanish }}</template>
                            </card-double>
                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
            <!-------------------------------------------------------------------------------->

            <!-- ▼ Footer ▼ ------------------------------------------------------------------>
            <main-footer></main-footer>
            <!-------------------------------------------------------------------------------->

        </template>
    </v-app>
    <!------------------------------------------------------------------------------------>

    <!-- ▼ Script Load ▼ ----------------------------------------------------------------->
    <!-- Main -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!-- Compornent -->
    <script src="./Common/common.js"></script>
    <script src="./Component/main-system-bar.js"></script>
    <script src="./Component/main-navigation.js"></script>
    <script src="./Component/main-footer.js"></script>
    <script src="./Component/Card/card-double.js"></script>
    <!------------------------------------------------------------------------------------>

    <!-- Script Content ------------------------------------------------------------------>
    <script>

        // Variable ----------------------------------------------------------------------
        let vue = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                // Determined
                drawer: false,
                // Myself
                Switch: false,
                List: [],
            },
            methods: {
                Change_Drawer(_value) {
                    this.drawer = _value;
                }
            },
            created: function () {
                let japanese = [
                    "アドバイス",
                    "アピール",
                    "イメージ",
                    "エネルギー",
                    "エピソード",
                    "キャリア",
                    "キャンセル",
                    "コミュニケーション",
                    "サプライズ",
                    "ショック",
                    "ストレス",
                    "センス",
                    "トラブル",
                    "ニュアンス",
                    "ネガティブ",
                    "プライド",
                    "プライバシー",
                    "プレッシャー",
                    "プログラム",
                    "プロフェッショナル",
                    "ポイント",
                    "ポジティブ",
                    "メリット",
                    "メンタル",
                    "モチベーション",
                    "ユーモア",
                    "リアル",
                ];
                let reading = [
                    "adobaisu",
                    "apiiru",
                    "imeeji",
                    "enerugii",
                    "episoodo",
                    "kyaria",
                    "kyanseru",
                    "komyunikeeshon",
                    "sapuraizu",
                    "shokku",
                    "sutoresu",
                    "sensu",
                    "toraburu",
                    "nyuansu",
                    "negatibu",
                    "puraido",
                    "puraibashii",
                    "puresshaa",
                    "puroguramu",
                    "purofesshonaru",
                    "pointo",
                    "pojitibu",
                    "meritto",
                    "mentaru",
                    "motiveeshon",
                    "yuumoa",
                    "riaru",
                ];
                let spanish = [
                    "Consejo",
                    "Apelación",
                    "Imagen",
                    "Energía",
                    "Episodio",
                    "Carrera",
                    "Cancelar",
                    "Comunicación",
                    "Sorpresa",
                    "Impacto",
                    "Estrés",
                    "Sentido",
                    "Problema",
                    "Matiz",
                    "Negativo",
                    "Orgullo",
                    "Privacidad",
                    "Presión",
                    "Programa",
                    "Profesional",
                    "Punto",
                    "Positivo",
                    "Mérito",
                    "Mental",
                    "Motivación",
                    "Humor",
                    "Real"
                ];
                
                for (let i = 0; i < japanese.length; i++) {
                    let row = {};
                    row.id = i;
                    row.japanese = japanese[i];
                    row.reading = reading[i];
                    row.spanish = spanish[i];
                    this.List.push(row);
                }
            },
        })
        // -------------------------------------------------------------------------------

    </script>
    <!------------------------------------------------------------------------------------>
</body>
<!---------------------------------------------------------------------------------------->

</html>