<!DOCTYPE html>
<html>

<!-- ▼ Head ▼ ---------------------------------------------------------------------------->

<head>

    <!-- Setting -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">

    <!-- Vue -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <!-- CSS -->
    <link href="./Common/common.css" rel="stylesheet" />
    <link href="./Common/common_word_japanese.css" rel="stylesheet" />

</head>
<!---------------------------------------------------------------------------------------->

<!-- ▼ Body ▼ ---------------------------------------------------------------------------->

<body>

    <!-- ▼ App ▼ ------------------------------------------------------------------------->
    <v-app id="app">
        <template>

            <!-- ▼ Header ▼ ------------------------------------------------------------------>
            <main-system-bar :drawer="drawer" @change-drawer="Change_Drawer">Word - Life > House</main-system-bar>
            <!-------------------------------------------------------------------------------->

            <!-- ▼ Navigation ▼ -------------------------------------------------------------->
            <main-navigation :drawer="drawer" @change-drawer="Change_Drawer"></main-navigation>
            <!-------------------------------------------------------------------------------->

            <!-- ▼ Main ▼ -------------------------------------------------------------------->
            <v-main id="main" class="blue-grey lighten-4">
                <v-container fluid fill-height>
                    <v-row no-gutters><v-col cols="2" md="1" lg="1"></v-col><v-spacer></v-spacer><v-col cols="5" md="2" lg="2"><v-switch v-model="Switch" :label="`Switch All`" inset hide-details="false"/></v-col></v-row>
                    <v-row justify="center" class="ma-0">
                        <v-col cols="12" md="3" lg="3" v-for="list in List" :key="list.id">
                            <card-double :all_show="Switch">
                                <template v-slot:first>{{ list.japanese }}<br>
                                    <font size="5">{{ list.reading }}</font>
                                </template>
                                <template v-slot:second>{{ list.english }}</template>
                            </card-double>
                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
            <!-------------------------------------------------------------------------------->

            <!-- ▼ Footer ▼ ------------------------------------------------------------------>
            <main-footer></main-footer>
            <!-------------------------------------------------------------------------------->

        </template>
    </v-app>
    <!------------------------------------------------------------------------------------>

    <!-- ▼ Script Load ▼ ----------------------------------------------------------------->
    <!-- Main -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!-- Compornent -->
    <script src="./Common/common.js"></script>
    <script src="./Component/main-system-bar.js"></script>
    <script src="./Component/main-navigation.js"></script>
    <script src="./Component/main-footer.js"></script>
    <script src="./Component/Card/card-double.js"></script>
    <!------------------------------------------------------------------------------------>

    <!-- Script Content ------------------------------------------------------------------>
    <script>

        // Variable ----------------------------------------------------------------------
        let vue = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                // Determined
                drawer: false,
                // Myself
                Switch: false,
                List: [],
            },
            methods: {
                Change_Drawer(_value) {
                    this.drawer = _value;
                }
            },
            created: function () {
                let japanese = [
                    "家",
                    "柵",
                    "庭",
                    "階段",
                    "登る",
                    "降りる",
                    "玄関",
                    "インターホン",
                    "ドア",
                    "入る",
                    "出る",
                    "床",
                    "壁",
                    "天井",
                    "ライト",
                    "付ける",
                    "消す",
                    "窓",
                    "開ける",
                    "閉める",
                    "廊下",
                    "トイレ",
                    "リビング",
                    "テーブル",
                    "ソファー",
                    "座る",
                    "立つ",
                    "カーテン",
                    "テレビ",
                    "見る",
                    "キッチン",
                    "作る",
                    "コンロ",
                    "流し",
                    "洗う",
                    "冷蔵庫",
                    "部屋",
                    "ベッド",
                    "寝る",
                    "起きる",
                    "枕",
                    "毛布",
                    "シーツ",
                    "机",
                    "椅子",
                    "パソコン",
                    "コンセント",
                    "キーボード",
                    "マウス",
                    "メモ",
                    "ペン",
                    "書く",
                    "クローゼット",
                    "ハンガー",
                    "洗面所",
                    "洗濯機",
                    "洗う",
                    "お風呂",
                    "掃除する",
                ];
                let reading = [
                    "ie",
                    "saku",
                    "niwa",
                    "kaidan",
                    "noboru",
                    "oriru",
                    "genkan",
                    "intaahon",
                    "doa",
                    "hairu",
                    "deru",
                    "yuka",
                    "kabe",
                    "tenjou",
                    "raito",
                    "tsukeru",
                    "kesu",
                    "mado",
                    "akeru",
                    "shimeru",
                    "rouka",
                    "toire",
                    "ribingu",
                    "teiburu",
                    "sofaa",
                    "suwaru",
                    "tatsu",
                    "kaaten",
                    "terebi",
                    "miru",
                    "kicchin",
                    "tsukuru",
                    "konro",
                    "nagashi",
                    "arau",
                    "reizouko",
                    "heya",
                    "beddo",
                    "neru",
                    "okiru",
                    "makura",
                    "moufu",
                    "shiitsu",
                    "tsukue",
                    "isu",
                    "pasokon",
                    "konsento",
                    "kiiboodo",
                    "mausu",
                    "memo",
                    "pen",
                    "kaku",
                    "kuroozetto",
                    "hangaa",
                    "senmenjo",
                    "sentakuki",
                    "arau",
                    "ofuro",
                    "souji suru",
                ];
                let english = [
                    "House",
                    "Fence",
                    "Garden",
                    "Stairs",
                    "Climb",
                    "Descend",
                    "Entrance",
                    "Intercom",
                    "Door",
                    "Enter",
                    "Exit",
                    "Floor",
                    "Wall",
                    "Ceiling",
                    "Light",
                    "Turn on",
                    "Turn off",
                    "Window",
                    "Open",
                    "Close",
                    "Hallway",
                    "Toilet",
                    "Living room",
                    "Table",
                    "Sofa",
                    "Sit",
                    "Stand",
                    "Curtain",
                    "TV",
                    "Watch",
                    "Kitchen",
                    "Cook",
                    "Stove",
                    "Sink",
                    "Wash",
                    "Refrigerator",
                    "Room",
                    "Bed",
                    "Sleep",
                    "Wake up",
                    "Pillow",
                    "Blanket",
                    "Sheets",
                    "Desk",
                    "Chair",
                    "Computer",
                    "Outlet",
                    "Keyboard",
                    "Mouse",
                    "Memo",
                    "Pen",
                    "Write",
                    "Closet",
                    "Hanger",
                    "Washroom",
                    "Washing machine",
                    "Wash",
                    "Bath",
                    "Clean",
                ];

                for (let i = 0; i < japanese.length; i++) {
                    let row = {};
                    row.id = i;
                    row.japanese = japanese[i];
                    row.reading = reading[i];
                    row.english = english[i];
                    this.List.push(row);
                }
            },
        })
        // -------------------------------------------------------------------------------

    </script>
    <!------------------------------------------------------------------------------------>
</body>
<!---------------------------------------------------------------------------------------->

</html>