<!DOCTYPE html>
<html>

<!-- ▼ Head ▼ ---------------------------------------------------------------------------->

<head>

    <!-- Setting -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">

    <!-- Vue -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <!-- CSS -->
    <link href="./Common/common.css" rel="stylesheet" />
    <link href="./Common/common_word_japanese.css" rel="stylesheet" />

</head>
<!---------------------------------------------------------------------------------------->

<!-- ▼ Body ▼ ---------------------------------------------------------------------------->

<body>

    <!-- ▼ App ▼ ------------------------------------------------------------------------->
    <v-app id="app">
        <template>

            <!-- ▼ Header ▼ ------------------------------------------------------------------>
            <main-system-bar-spanish :drawer="drawer" @change-drawer="Change_Drawer">Palabra - Naturaleza > Bosque</main-system-bar-spanish>
            <!-------------------------------------------------------------------------------->

            <!-- ▼ Navigation ▼ -------------------------------------------------------------->
            <main-navigation-spanish :drawer="drawer" @change-drawer="Change_Drawer"></main-navigation-spanish>
            <!-------------------------------------------------------------------------------->

            <!-- ▼ Main ▼ -------------------------------------------------------------------->
            <v-main id="main" class="blue-grey lighten-4">
                <v-container fluid fill-height>
                    <v-row no-gutters><v-col cols="2" md="1" lg="1"></v-col><v-spacer></v-spacer><v-col cols="5" md="2" lg="2"><v-switch v-model="Switch" :label="`All Change`" inset hide-details="false"/></v-col></v-row>
                    <v-row justify="center" class="ma-0">
                        <v-col cols="12" md="3" lg="3" v-for="list in List" :key="list.id">
                            <card-double :all_show="Switch">
                                <template v-slot:first>{{ list.japanese }}<br>
                                    <font size="5">{{ list.reading }}</font>
                                </template>
                                <template v-slot:second>{{ list.english }}</template>
                            </card-double>
                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
            <!-------------------------------------------------------------------------------->

            <!-- ▼ Footer ▼ ------------------------------------------------------------------>
            <main-footer></main-footer>
            <!-------------------------------------------------------------------------------->

        </template>
    </v-app>
    <!------------------------------------------------------------------------------------>

    <!-- ▼ Script Load ▼ ----------------------------------------------------------------->
    <!-- Main -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!-- Compornent -->
    <script src="./Common/common.js"></script>
    <script src="./Component/main-system-bar-spanish.js"></script>
    <script src="./Component/main-navigation-spanish.js"></script>
    <script src="./Component/main-footer.js"></script>
    <script src="./Component/Card/card-double.js"></script>
    <!------------------------------------------------------------------------------------>

    <!-- Script Content ------------------------------------------------------------------>
    <script>

        // Variable ----------------------------------------------------------------------
        let vue = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                // Determined
                drawer: false,
                // Myself
                Switch: false,
                List: [],
            },
            methods: {
                Change_Drawer(_value) {
                    this.drawer = _value;
                }
            },
            created: function () {
                let japanese = [
                    "森",
                    "木",
                    "林",
                    "葉っぱ",
                    "枝",
                    "幹",
                    "根",
                    "木の実",
                    "動物",
                    "熊",
                    "鳥",
                    "鹿",
                    "イノシシ",
                    "リス",
                    "生態系",
                    "広葉樹",
                    "針葉樹",
                    "成長",
                    "多様性",
                    "保護",
                    "環境",
                    "間伐",
                    "再生",
                    "森林浴",
                    "日光浴",
                    "歩く",
                    "登る",
                    "下る",
                    "寝る",
                    "泊まる",
                    "高い",
                    "低い",
                    "静か",
                    "うるさい",
                    "暑い",
                    "寒い",
                    "ちょうどいい",
                ];
                let reading = [
                    "mori",
                    "ki",
                    "hayashi",
                    "happa",
                    "eda",
                    "miki",
                    "ne",
                    "ki no mi",
                    "doubutsu",
                    "kuma",
                    "tori",
                    "shika",
                    "inoshishi",
                    "risu",
                    "seitaikei",
                    "kouyouju",
                    "shiyouju",
                    "seichou",
                    "tayousei",
                    "hogo",
                    "kankyou",
                    "kanbatsu",
                    "saisei",
                    "shinrin yoku",
                    "nikkou yoku",
                    "aruku",
                    "noboru",
                    "kudaru",
                    "neru",
                    "tomaru",
                    "takai",
                    "hikui",
                    "shizuka",
                    "urusai",
                    "atsui",
                    "samui",
                    "choudoii",
                ];
                let spanish = [
                    "Bosque",
                    "Árbol",
                    "Bosque",
                    "Hojas",
                    "Rama",
                    "Tronco",
                    "Raíz",
                    "Fruta",
                    "Animal",
                    "Oso",
                    "Pájaro",
                    "Venado",
                    "Jabalí",
                    "Ardilla",
                    "Ecosistema",
                    "Árbol de hoja ancha",
                    "Árbol de coníferas",
                    "Crecimiento",
                    "Diversidad",
                    "Conservación",
                    "Medio ambiente",
                    "Adelgazamiento",
                    "Regeneración",
                    "Baño de bosque",
                    "Tomar el sol",
                    "Caminar",
                    "Trepar",
                    "Descender",
                    "Dormir",
                    "Permanecer durante la noche",
                    "Alto",
                    "Bajo",
                    "Silencioso",
                    "Ruidoso",
                    "Caliente",
                    "Frío",
                    "Justo",
                ];

                for (let i = 0; i < japanese.length; i++) {
                    let row = {};
                    row.id = i;
                    row.japanese = japanese[i];
                    row.reading = reading[i];
                    row.english = english[i];
                    this.List.push(row);
                }
            },
        })
        // -------------------------------------------------------------------------------

    </script>
    <!------------------------------------------------------------------------------------>
</body>
<!---------------------------------------------------------------------------------------->

</html>