<!DOCTYPE html>
<html>

<!-- ▼ Head ▼ ---------------------------------------------------------------------------->

<head>

    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">

    <!-- Setting -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">

    <!-- Vue -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <!-- CSS -->
    <link href="./Common/common.css" rel="stylesheet" />

</head>
<!---------------------------------------------------------------------------------------->

<!-- ▼ Body ▼ ---------------------------------------------------------------------------->

<body>

    <!-- ▼ App ▼ ------------------------------------------------------------------------->
    <v-app id="app">
        <template>

            <!-- ▼ Header ▼ ------------------------------------------------------------------>
            <main-system-bar :drawer="drawer" @change-drawer="Change_Drawer">Verb > Type</main-system-bar>
            <!-------------------------------------------------------------------------------->

            <!-- ▼ Navigation ▼ -------------------------------------------------------------->
            <main-navigation :drawer="drawer" @change-drawer="Change_Drawer"></main-navigation>
            <!-------------------------------------------------------------------------------->

            <!-- ▼ Main ▼ -------------------------------------------------------------------->
            <v-main id="main" class="blue-grey lighten-4">
                <v-container fluid fill-height>
                    <v-row justify="center">
                        <v-col xs="12" md="6" lg="6">
                            <v-card>
                                <v-card-title>
                                    Nutritional value per 100g
                                    <v-spacer></v-spacer>
                                    <v-text-field v-model="Search_Nutrition" append-icon="mdi-magnify" label="Search_Nutrition" single-line hide-details></v-text-field>
                                </v-card-title>
                                <v-data-table :headers="Headers_Nutrition" :items="Desserts_Nutrition" :search="Search_Nutrition" item-key="vegetable"
                                    multi-sort :sort-by="['parts_of_speech']" :sort-asc="[true]" show-select dense
                                    :mobile-breakpoint="0" :items-per-page="-1"></v-data-table>
                            </v-card>
                        </v-col>
                    </v-row>
                    
                    <v-row justify="center">
                        <v-col xs="12" md="6" lg="6">
                            <v-card>
                                <v-card-title>
                                    Growing environment
                                    <v-spacer></v-spacer>
                                    <v-text-field v-model="Search_Growing" append-icon="mdi-magnify" label="Search_Growing" single-line hide-details></v-text-field>
                                </v-card-title>
                                <v-data-table :headers="Headers_Growing" :items="Desserts_Growing" :search="Search_Growing" item-key="vegetable"
                                    multi-sort :sort-by="['parts_of_speech']" :sort-asc="[true]" show-select dense
                                    :mobile-breakpoint="0" :items-per-page="-1"></v-data-table>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
            <!-------------------------------------------------------------------------------->

            <!-- ▼ Footer ▼ ------------------------------------------------------------------>
            <main-footer></main-footer>
            <!-------------------------------------------------------------------------------->

        </template>
    </v-app>
    <!------------------------------------------------------------------------------------>

    <!-- ▼ Style ▼ ----------------------------------------------------------------------->
    <style>

    </style>
    <!------------------------------------------------------------------------------------>

    <!-- ▼ Script Load ▼ ----------------------------------------------------------------->
    <!-- Main -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!-- Compornent -->
    <script src="./Common/common.js"></script>
    <script src="./Component/main-system-bar.js"></script>
    <script src="./Component/main-navigation.js"></script>
    <script src="./Component/main-footer.js"></script>
    <!------------------------------------------------------------------------------------>

    <!-- Script Content ------------------------------------------------------------------>
    <script>

        // Variable ----------------------------------------------------------------------
        let vue = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                // Determined
                drawer: false,
                // Myself
                //// Nutrition
                Search_Nutrition: '',
                Headers_Nutrition: [
                    { text: 'Vegetable', value: 'vegetable' },
                    { text: 'Energy(kcal)', value: 'energy' },
                    { text: 'Protein(g)', value: 'protein' },
                    { text: 'Fat(g)', value: 'fat' },
                    { text: 'Carbohydrates(g)', value: 'carbohydrates' },
                    { text: 'Potassium(mg)', value: 'potassium' },
                    { text: 'Calcium(mg)', value: 'calcium' },
                    { text: 'Magnesium(mg)', value: 'magnesium' },
                ],
                Desserts_Nutrition: [],
                //// Growing
                Search_Growing: '',
                Headers_Growing: [
                    { text: 'Vegetable', value: 'vegetable' },
                    { text: 'Germination(℃)', value: 'germination' },
                    { text: 'Appropriate(℃)', value: 'appropriate' },
                    { text: 'Soil(pH)', value: 'soil' },
                    { text: 'Space(cm)', value: 'space' },
                ],
                Desserts_Growing: [],
            },
            methods: {
                Change_Drawer(_value) {
                    this.drawer = _value;
                }
            },
            created: function () {
                let vegetable = [
                    "Burdock",
                    "Chrysanthemum",
                    "Eggplant",
                    "Konegi",
                    "Mini Tomato",
                    "Onion",
                    "Spinach"
                ];
                // Nutrition
                let energy = [
                    "50", 
                    "25", 
                    "17", 
                    "26", 
                    "30", 
                    "30", 
                    "23"
                ];
                let protein = [
                    "1.5", 
                    "2.7", 
                    "1.0", 
                    "2.0", 
                    "1.1", 
                    "0.8", 
                    "2.6"
                ];
                let fat = [
                    "0.2", 
                    "0.5", 
                    "0.1", 
                    "0.3", 
                    "0.1", 
                    "0.1", 
                    "0.5"
                ];
                let carbohydrates = [
                    "13.7", 
                    "4.5", 
                    "4.5", 
                    "5.4", 
                    "7.2", 
                    "7.3", 
                    "4.0"
                ];
                let potassium = [
                    "210", 
                    "270", 
                    "180", 
                    "320", 
                    "290", 
                    "110", 
                    "490"
                ];
                let calcium = [
                    "48", 
                    "120", 
                    "20", 
                    "100", 
                    "12", 
                    "18", 
                    "69"
                ];
                let magnesium = [
                    "40", 
                    "24", 
                    "16", 
                    "17", 
                    "13", 
                    "7", 
                    "40"
                ];
                // Growing
                let germination = [
                    "20~25", 
                    "15~20", 
                    "20~30", 
                    "15~25", 
                    "25~30", 
                    "15~20", 
                    "15~20"
                ];
                let appropriate = [
                    "20~25", 
                    "15~20", 
                    "16~28", 
                    "15~25", 
                    "21~26", 
                    "15~20", 
                    "15~20"
                ];
                let soil = [
                    "6.5~7.0",
                    "6.0~6.5",
                    "6.0~6.5",
                    "6.0~7.0",
                    "6.0~6.5",
                    "6.0~6.5",
                    "6.0~6.5"
                ];
                let space = [
                    "03~08, 10~15",
                    "10~15",
                    "50",
                    "01",
                    "40~50",
                    "12~15",
                    "05~08"
                ];

                for (let i = 0; i < vegetable.length; i++) {
                    // Nutrition
                    let row_nutrition = {
                        vegetable: vegetable[i],
                        energy: energy[i],
                        protein: protein[i],
                        fat: fat[i],
                        carbohydrates: carbohydrates[i],
                        potassium: potassium[i],
                        calcium: calcium[i],
                        magnesium: magnesium[i]
                    };
                    this.Desserts_Nutrition.push(row_nutrition);
                    // Growing
                    let row_growing = {
                        vegetable: vegetable[i],
                        germination: germination[i],
                        appropriate: appropriate[i],
                        soil: soil[i],
                        space: space[i],
                    };
                    this.Desserts_Growing.push(row_growing);
                }
            },
        })
        // -------------------------------------------------------------------------------

        // Javascript --------------------------------------------------------------------
        // -------------------------------------------------------------------------------

    </script>
    <!------------------------------------------------------------------------------------>
</body>
<!---------------------------------------------------------------------------------------->

</html>