.v-card--reveal {
    bottom: 0;
    opacity: 1 !important;
    position: absolute;
    width: 100%;
}

/* All Tag */
.v-input--selection-controls {
    margin-top: 0px;
    /* padding-top: 0px; */
}

.v-input__slot {
    margin-bottom: 0px;
}