<!DOCTYPE html>
<html>

<!-- ▼ Head ▼ ---------------------------------------------------------------------------->

<head>

    <!-- Setting -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <!-- Vue -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <!-- CSS -->
    <link href="http://35.73.34.134/common.css" rel="stylesheet" />
    <link href="http://35.73.34.134/Japanese/common_word_japanese.css" rel="stylesheet" />

</head>
<!---------------------------------------------------------------------------------------->

<!-- ▼ Body ▼ ---------------------------------------------------------------------------->

<body>

    <!-- ▼ App ▼ ------------------------------------------------------------------------->
    <v-app id="app">
        <template>

            <!-- ▼ Header ▼ ------------------------------------------------------------------>
            <main-system-bar :drawer="drawer" @change-drawer="Change_Drawer">Word - Kitchen</main-system-bar>
            <!-------------------------------------------------------------------------------->

            <!-- ▼ Navigation ▼ -------------------------------------------------------------->
            <main-navigation :drawer="drawer" @change-drawer="Change_Drawer"></main-navigation>
            <!-------------------------------------------------------------------------------->

            <!-- ▼ Main ▼ -------------------------------------------------------------------->
            <v-main id="main" class="blue-grey lighten-4">
                <v-container fluid fill-height>
                    <v-row no-gutters><v-col cols="2" md="1" lg="1"></v-col><v-spacer></v-spacer><v-col cols="5" md="2" lg="2"><v-switch v-model="Switch" :label="`All Change`" inset hide-details="false"/></v-col></v-row>
                    <v-row justify="center" class="ma-0">
                        <v-col cols="12" md="3" lg="3" v-for="list in List" :key="list.id">
                            <card-double :all_show="Switch">
                                <template v-slot:first>{{ list.japanese }}<br>
                                    <font size="5">{{ list.reading }}</font>
                                </template>
                                <template v-slot:second>{{ list.english }}</template>
                            </card-double>
                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
            <!-------------------------------------------------------------------------------->

            <!-- ▼ Footer ▼ ------------------------------------------------------------------>
            <main-footer></main-footer>
            <!-------------------------------------------------------------------------------->

        </template>
    </v-app>
    <!------------------------------------------------------------------------------------>

    <!-- ▼ Script Load ▼ ----------------------------------------------------------------->
    <!-- Main -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!-- Compornent -->
    <script src="http://35.73.34.134/common.js"></script>
    <script src="http://35.73.34.134/Component/main-system-bar.js"></script>
    <script src="http://35.73.34.134/Component/main-navigation.js"></script>
    <script src="http://35.73.34.134/Component/main-footer.js"></script>
    <script src="http://35.73.34.134/Component/Card/card-double.js"></script>
    <!------------------------------------------------------------------------------------>

    <!-- Script Content ------------------------------------------------------------------>
    <script>

        // Variable ----------------------------------------------------------------------
        let vue = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                // Determined
                drawer: false,
                // Myself
                Switch: false,
                List: [],
            },
            methods: {
                Change_Drawer(_value) {
                    this.drawer = _value;
                }
            },
            created: function () {
                let japanese = [
                    "台所",
                    "食器",
                    "まな板",
                    "包丁",
                    "テーブル",
                    "冷蔵庫",
                    "電子レンジ",
                    "フォーク",
                    "スプーン",
                    "お皿",
                    "料理",
                    "切る",
                    "入れる",
                    "食べる",
                    "撮る",
                    "トマト",
                    "じゃがいも",
                    "玉ねぎ",
                    "人参",
                ];
                let reading = [
                    "daidokoro",
                    "shokki",
                    "manaita",
                    "houchou",
                    "te-buru",
                    "reizouko",
                    "dennshirenji",
                    "fo-ku",
                    "supu-n",
                    "osara",
                    "ryouri",
                    "kiru",
                    "ireru",
                    "taberu",
                    "toru",
                    "tomato",
                    "jagaimo",
                    "tamanegi",
                    "ninjin",
                ];
                let english = [
                    "Kitchen",
                    "Dishes",
                    "Cutting board",
                    "Knife",
                    "Table",
                    "Refrigerator",
                    "Microwave",
                    "Fork",
                    "Spoone",
                    "Dish",
                    "Cooking",
                    "Cut",
                    "Put",
                    "Eat",
                    "Take a picture",
                    "Tomato",
                    "Potato",
                    "Onion",
                    "Carrot",
                ];
                for (let i = 0; i < japanese.length; i++) {
                    let row = {};
                    row.id = i;
                    row.japanese = japanese[i];
                    row.reading = reading[i];
                    row.english = english[i];
                    this.List.push(row);
                }
            },
        })
        // -------------------------------------------------------------------------------

    </script>
    <!------------------------------------------------------------------------------------>
</body>
<!---------------------------------------------------------------------------------------->

</html>